@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 채팅아이콘 */
.chatPort {
  border-radius: 100%;
  background-color: rgb(61, 136, 248);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 10px 7px rgb(218, 216, 216);
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 50%;
  z-index: 999;
}



/* 채팅부모창 */
.chatParent {
  background-color: azure;
  max-width: 500px;
  min-width: 400px;
  width: 30%;
  position: absolute;
  left: 60%;
  top: 40%;
  z-index: 999;
  border-radius: 5px 5px 5px 5px;
  height: 60%;
  min-height: 300px;
  max-height: 500px;
  box-shadow: 2px 2px 10px 5px rgb(218, 216, 216);
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}

#chatCloseBtn{

}

#chatParentTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:5px;
  margin-right:5px;
  display: flex;
  justify-content: space-between;
}

#ArrowBackIcon {
  cursor: pointer;
}

#ArrowBackIconTemp{
  width : 16px;
}

#CloseIcon {
  cursor: pointer;
}




/* 채팅방리스트 */
.chatroomList{

}


/* 채팅대화창 */
.dialog-board{
  height : 20%;
  max-height: 300px;
  overflow: auto;
}