
#nav {
    display: flex;
    justify-content: space-between;
    margin: 15px 5% 30px 5%;
}

#mobile-profile-title{
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right:5%;
    height: 3rem;
    font-size: 1.2rem;
}

#mobile-profile {
    display: grid;
    margin-left : 15%;
    margin-right : 20%;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}


#mobile-profile> img{
    width:100px;
    border-style: solid;
    border-radius: 100%;
}

.cursor{
    cursor: pointer;
}

.modifier:hover {
    cursor: pointer;
    text-decoration: underline;
}