

.swiperImgWrap{
  margin-top:30px;
  width:1500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiperImgWrap > img{
  width: 100%;
  object-fit: cover;
}



/* .swiper-button-prev{
  left : var(--swiper-navigation-sides-offset, 40px);
}

.swiper-button-prev swiper-button-disabled{
  left : var(--swiper-navigation-sides-offset, 40px);
}

.swiper-button-next{
  right: var(--swiper-navigation-sides-offset, 40px);
}

.swiper-button-next swiper-button-disabled{
  right: var(--swiper-navigation-sides-offset, 40px);
} */